pytest==8.1.1
flake8==7.0.0
flake8-pyproject==1.2.3
black==24.3.0
isort==5.13.2

numpy==1.26.4
scipy==1.12.0
scikit-image==0.22.0
SimpleITK==2.3.1
matplotlib==3.8.3
opencv-python==4.9.0.80

ipywidgets==8.1.2
numba==0.59.0
jupyter==1.0.0